/* post.php */

h1{
    margin-left: 60px;
}

.p1{
margin-left: 60px;
}

.name{
    margin-left: 60px;
}

legend{
    margin-top: 25px;
    margin-left: 60px;
}


.sbtn{
    margin-top: 25px;
    margin-left: 60px;
}

.q1,.q2,.q3,.q4,.q5{
    margin-left: 70px;
}


/* read.php */

th{
    padding: 10px 15px;
}

td{
    text-align: center;
}

.back{
    text-align: center;
    margin-top: 50px;
}